@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

header {
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  font-weight: normal;
}

.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  margin-top: 1em;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

h2 {
  color: hsl(183, 100%, 15%);
}

label {
  color: hsl(183, 100%, 15%);
  padding-bottom: 0.5em;
}

/* Bill Amount Input Section */

input {
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.input-bar {
  width: 100%;
  color: hsl(184, 14%, 56%);
  background-color: hsl(189, 41%, 97%);
  padding: 1em;
  border: none;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 1.25em;
  color: hsl(183, 100%, 15%);
}

.bill-amount {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

/* Select Tip Section */

.tip {
  width: 100%;
  margin: 0.5em 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tip-percent {
  padding: 0.5em 0.5em;
  margin: 0.65em;
  width: 75%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  border-radius: 5%;
  font-family: "Space Mono", monospace;
}

.tip-percent:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

#custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(184, 14%, 56%);
  border: none;
  text-align: right;
  width: 75%;
  font-family: "Space Mono", monospace;
  padding: 0.5em;
  margin: 0.65em;
}

.clicked {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/* Number Of People Section */
.number-of-people {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

/* Totals Section */

.totals {
  background-color: hsl(183, 100%, 15%);
  color: white;
  width: 100%;
  padding: 2em 1em;
  border-radius: 5%;
}

.tip-amount {
  color: white;
  font-size: 1em;
}

.per-person {
  font-size: 0.75em;
  color: hsl(184, 14%, 56%);
}

.tip-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75em;
}

.number-total {
  font-size: 1.5em;
  color: hsl(172, 67%, 45%);
}

#reset {
  background-color: hsl(172, 67%, 45%);
  width: 100%;
  padding: 0.5em 0;
  border: none;
  border-radius: 5%;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
}

#reset:hover {
  background-color: hsl(183, 100%, 15%);
  color: hsl(172, 67%, 45%);
}

/* Tablet Styles */

@media only screen and (min-width: 768px) {
  .card {
    width: 80%;
  }

  .totals {
    width: 65%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .totals {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1440px) {
  /* Tip Buttons Section */

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* Totals Section */
  .totals {
    height: 90%;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }

  .tip-text {
    display: flex;
    justify-content: space-around;
  }
  .number-total {
    font-size: 2.5em;
  }

  .tip-totals {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  #reset {
    width: 70%;
  }

  #reset:hover {
    cursor: pointer;
  }
}
